@import '@rolemodel/optics/dist/css/optics';
.app {
  display: grid;
  grid-template-rows: auto 1fr .25fr;
  height: 100vh;
}
.content-header {
  background-color: red;
  padding: var(--op-space-large);
}
.todo-panel {
  background-color: blue;
  padding: var(--op-space-large);

  display: flex;
  flex-direction: column;
  gap: var(--op-space-large);
  align-items: center;

}

.todo-form {
  background-color: pink;
}

.todo {
  width: calc(110 * var(--op-size-unit));
  background-color: gray;
  height: calc(15 * var(--op-size-unit));
  border-radius: var(--op-radius-2x-large);
}